<dialog id="add-dev">
  <form action="/developers" method="post">
    <label for="developer" class="accented-text">Developer:</label>
    <input
      type="text"
      name="developer"
      id="developer"
      placeholder="Developer Name"
      maxlength="50"
      minlength="1"
      required
    >
    <button type="submit">SUBMIT</button>
  </form>
  <button commandfor="add-dev" command="close">
    CLOSE
  </button>
</dialog>