<dialog id="add-genre">
  <form action="/genres" method="post">
    <label for="genre">Genre:</label>
    <input
      type="text"
      name="genre"
      id="genre"
      placeholder="Genre Name"
      maxlength="50"
      minlength="1"
      required
    >
    <button type="submit">Submit</button>
  </form>
  <button commandfor="add-genre" command="close">
    Close
  </button>
</dialog>