<dialog id="add-genre">
  <form action="/genres" method="post">
    <label for="genre" class="accented-text">Genre:</label>
    <input
      type="text"
      name="genre"
      id="genre"
      placeholder="Genre Name"
      maxlength="50"
      minlength="1"
      required
    >
    <button type="submit">SUBMIT</button>
  </form>
  <button commandfor="add-genre" command="close">
    CLOSE
  </button>
</dialog>