<dialog id="add-game">
  <form action="/games" method="post">
    <p>Please provide a valid <a href="https://steamdb.info/apps/" target="_blank" rel="noopener noreferrer">Steam App ID</a> and we'll take care of the rest.</p>
    <label for="steamId" class="accented-text">Steam App ID:</label>
    <input 
      type="number" 
      id="steamId" 
      name="steamId"
      min="1"
      max="9999999999"
      required
    >
    <button type="submit">SUBMIT</button>
  </form>
  <button commandfor="add-game" command="close">CLOSE</button>
</dialog>