<dialog id="delete">
  <form id="delete-form" method="post">
    <p>To delete data please enter the admin password below.</p>
    <label for="password" class="accented-text">Admin Password:</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      maxlength="50" 
      minlength="1" 
      placeholder="Password"
      required
    >
    <button type="submit">SUBMIT</button>
  </form>
  <button commandfor="delete" command="close">CLOSE</button>
</dialog>