<dialog id="delete">
  <form id="delete-form" method="post">
    <label for="password">Admin Password:</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      maxlength="50" 
      minlength="1" 
      placeholder="Secret Password"
      required
    >
    <button type="submit">Delete</button>
  </form>
  <button commandfor="delete" command="close">Close</button>
</dialog>