<form action="/" method="post">
  <label for="developer">Developer</label>
  <input 
    type="text" 
    name="developer" 
    id="developer" 
    placeholder="Developer Name"
    maxlength="50"
    required
  >
  <button type="submit">Submit</button>
</form>