<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title><%= title %></title>
</head>
<body>
  <header>
		<h1><a href="/">Game Inventory</a></h1>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/games">GAMES</a></li>
        <li><a href="/developers">DEVELOPERS</a></li>
        <li><a href="/genres">GENRES</a></li>
        <li>
          <search>
            <form action="/" method="get">
                <input type="search" id="search" name="search">
                <button type="submit"><img src="/images/search.svg" alt="Search"></button>
            </form>
          </search>
        </li>
      </ul>
    </nav>
	</header>