/* CSS RESET STARTs HERE */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET ENDS HERE */

:root {
  --prim-bgd-values:23, 26, 33;
  --prim-bgd: rgb(var(--prim-bgd-values));
  --sec-bgd: #232730;
  --ter-bgd: #292e37;
  --text: #adadad;
  --accent: #66c0f4;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: var(--prim-bgd);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--accent);
}

header, footer {
  text-align: center;
  padding: 10px;
  color: var(--text);
  background-color: rgb(var(--prim-bgd-values));
}

header {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 3px 4px black;
  transition: opacity 0.3s ease;
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    li {
    position: relative;
    }
    li:not(:last-child):not(:nth-last-child(2))::after {
      content: "";
      position: absolute;
      right: -8px;
      height: 100%;
      width: 1px;
      background-color: var(--accent);
    }
  }
  h1 {
    a {
      color: var(--accent);
    }
  }
  a {
    text-decoration: none;
    color: var(--text);
  }
  a:hover {
    color: var(--accent);
  }
  form {
    display: flex;
    align-items: center;
  }
  #search {
    width: 80px;
    font-size: 1.2rem;
    color: var(--accent);
    background-color: var(--ter-bgd);
    border: none;
    border-radius: 8px 0 0 8px;
    outline: 1px solid var(--ter-bgd);
    padding: 2px 8px;
    transition: width 0.4s ease-in-out;
  }
  #search:focus {
    width: 240px;
    outline: 1px solid var(--accent);
  }
  search button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--accent);
    img {
      width: 32px;
    }
  }
}

header.scrolled {
  background-color: rgba(var(--prim-bgd-values), 0.8);
  backdrop-filter: blur(8px);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
  color: var(--text);
  background-color: var(--sec-bgd);
}

.highlight {
  width: clamp(250px, 92vw, 1000px);
}

.highlight-card {
  box-shadow: 3px 3px 4px var(--prim-bgd);
  border-radius: 0 0 10px 10px;
}

.highlight-image {
  a img {
    width: 100%;
    object-fit: cover;
  }
}

.highlight-info {
  padding: 15px;
  h2 a {
    font-size: 2rem;
    text-decoration: none;
  }
  .desc {
    font-size: 1.2rem;
  }
}

.highlight-dev-genre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  div {
    min-width: fit-content;
    flex: 1;
    background-color: var(--ter-bgd);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 4px var(--prim-bgd);
    a {
      font-size: 1.8rem;
      text-decoration: none;
    }
  }
}

.highlight-add-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--ter-bgd);
  border-radius: 10px;
  box-shadow: 3px 3px 4px var(--prim-bgd);
  .add-links {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    a {
      font-size: 1.8rem;
      text-decoration: none;
      color: var(--prim-bgd);
      background-color: var(--accent);
      padding: 6px 10px;
      border-radius: 6px;
    }
  }
}

.genres-page {
  width: clamp(250px, 92vw, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
  }
  .genres-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    li {
      flex-grow: 1;
      background-color: var(--prim-bgd);
      border-radius: 10px;
      text-align: center;
      a {
        display: block;
        padding: 20px;
        text-decoration: none;
        font-size: 1.8rem;
      }
    }
  }
}

.developers-page {
  width: clamp(250px, 92vw, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
  }
  .developers-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    li {
      flex-grow: 1;
      background-color: var(--prim-bgd);
      border-radius: 10px;
      text-align: center;
      a {
        display: block;
        padding: 20px;
        text-decoration: none;
        font-size: 1.8rem;
      }
    }
  }
}

.all-games,
.genre-games,
.developer-games,
.search-results {
  width: clamp(250px, 92vw, 1600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .game-grid {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .game-card {
      border: 1px solid var(--prim-bgd);
      border-radius: 0 0 10px 10px;
      box-shadow: 2px 2px 4px var(--prim-bgd);
      img {
        width: 100%;
        object-fit: cover;
      }
      h2 {
        text-align: center;
        padding: 10px;
        a {
          text-decoration: none;
          color: var(--text);
        }
        a:hover {
          color: var(--accent);
        }
      }
    }
    .game-card:hover {
      outline: 2px solid var(--accent);
    }
  }
}

.games-top,
.developers-top,
.genres-top  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  h1 {
    font-size: 3rem;
  }
  a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--prim-bgd);
    background-color: var(--accent);
    padding: 6px 10px;
    border-radius: 6px;
  }
}

.game-detail {
  width: clamp(250px, 92vw, 1000px);
  margin-top: 16px;
  box-shadow: 4px 4px 6px var(--prim-bgd);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
  .game-detail-text {
    padding: 20px;
    font-size: 1.3rem;
    h1 {
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      margin: -20px -20px 10px -20px;
      padding: 4px 0;
    }
    :not(:first-child) {
      margin: 5px;
    }
    .emphasize {
      font-style: italic;
      font-weight: bold;
    }
    .steam-id {
      margin-bottom: 30px;
    }
    .game-detail-buttons {
      text-align: end;
      background-color: rgba(0, 0, 0, 0.3);
      margin: -20px;
      padding: 15px;
      a, button {
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--prim-bgd);
        background-color: var(--accent);
        border-radius: 6px;
      }
      a {
        padding: 10px 20px;
        margin-right: 15px;
      }
      button {
        cursor: pointer;
        margin: 0;
        padding: 6px 10px;
        border: none;
      }
    }
  }
}