/* CSS RESET STARTs HERE */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET ENDS HERE */

:root {
  --prim-bgd: #171a21;
  --sec-bgd: #232730;
  --ter-bgd: #292e37;
  --text: #adadad;
  --accent: #66c0f4;
}

body {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--accent);
}

header, footer {
  text-align: center;
  padding: 10px;
  color: var(--text);
  background-color: var(--prim-bgd);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    li {
    position: relative;
    }
    li:not(:last-child):not(:nth-last-child(2))::after {
      content: "";
      position: absolute;
      right: -5px;
      height: 100%;
      width: 1px;
      background-color: var(--accent);
    }
  }
  a {
    text-decoration: none;
    color: var(--text);
  }
  a:hover {
    color: var(--accent);
  }
  form {
    display: flex;
    align-items: center;
  }
  #search {
    width: 80px;
    color: var(--accent);
    background-color: var(--ter-bgd);
    border: none;
    border-radius: 8px 0 0 8px;
    outline: 1px solid var(--ter-bgd);
    padding: 4px 8px;
    transition: width 0.4s ease-in-out;
  }
  #search:focus {
    width: 200px;
    outline: 1px solid var(--accent);
  }
  search button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--accent);
    img {
      width: 32px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
  color: var(--text);
  background-color: var(--sec-bgd);
}

.highlight {
  width: clamp(300px, 80vw, 1000px);
}

.highlight-image {
  a img {
    width: 100%;
    object-fit: cover;
  }
}

.highlight-info {
  padding: 15px;
  h2 a {
    text-decoration: none;
  }
}

.highlight-dev-genre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  div {
    flex-basis: 50%;
    flex-grow: 1;
    background-color: var(--prim-bgd);
    padding: 10px;
    text-align: center;
    a {
      font-size: 1.8rem;
      text-decoration: none;
    }
  }
}

.highlight-add-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  background-color: var(--prim-bgd);
  .add-links {
    margin-top: 8px;
    a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--prim-bgd);
    background-color: var(--accent);
    padding: 6px 10px;
    border-radius: 6px;
    }
    a:not(:last-child) {
      margin-right: 8px;
    }
  }
}