<%- include('../partials/header') %>
<main>
  <div class="developers-page">
    <div class="developers-top">
      <h1>Developers</h1>
      <a href="/developers/new">ADD A DEVELOPER</a>
    </div>
    <ul class="developers-list">
      <% if (developers && developers.length > 0) { %>
        <% developers.forEach(developer => { %>
          <li>
            <a href="/developers/<%= developer.id %>">
              <%= developer.name %>
            </a>
          </li>
        <% }); %>
      <% } %>
    </ul>
  </div>
</main>
<%- include('../partials/footer') %>