<%- include('../partials/header') %>
<main>
  <h1>Games</h1>
  <ul>
    <% if (games && games.length > 0) { %>
      <% games.forEach(game => { %>
        <li>
          <p><%= game.name %></p>
          <p><a href="/games/<%= game.id %>">Details</a></p>
        </li>
      <% }); %>
    <% } %>
  </ul>
</main>
<%- include('../partials/footer') %>