<%- include('../partials/header') %>
<main>
  <h1>Genres</h1>
  <ul>
    <% if (genres && genres.length > 0) { %>
      <% genres.forEach(genre => { %>
        <li>
          <a href="/genres/<%= genre.id %>">
            <%= genre.name %>
          </a>
        </li>
      <% }); %>
    <% } %>
  </ul>
</main>
<%- include('../partials/footer') %>