<%- include('../partials/header') %>
<main>
  <div class="genres-page">
    <div class="genres-top">
      <h1>Genres</h1>
      <a href="/genres/new">ADD A GENRE</a>
    </div>
    <ul class="genres-list">
      <% if (genres && genres.length > 0) { %>
        <% genres.forEach(genre => { %>
          <li>
            <a href="/genres/<%= genre.id %>">
              <%= genre.name %>
            </a>
          </li>
        <% }); %>
      <% } %>
    </ul>
  </div>
</main>
<%- include('../partials/footer') %>